
body{
   background: url("../images/Chop-11638.mp4");
}

#myVideo{
    position:fixed;
    height: 1000px;
}

#lead{
    font-family: 'Exo 2', sans-serif;
    position: relative;
    top: -50px;
    left: 100px;
}

.jumbotron.jumbotron-fluid{
    opacity: 0.8;
    height: 100%;
}

#logo{
    width: 500px;
    position: relative;
    left: -100px;
    top: -40px;
    opacity: 100;
}

.container{
  
    height : 220px;
    /* height: 500px; */
}

.form-group{
    color: black;
    font-family: 'Exo 2', sans-serif;
    width: 600px;
    position: absolute;
    left : 460px;
    top : 110px;
    /* left: 300px; */
    /* top: 350px; */
}

.btn.btn-primary{
    margin-top: 20px;
    background: red;
    border: none;
    position: relative;
    top: 10px;
    left: 500px;
}

.btn.btn-primary:hover{
    background: white;
    color: red;
    position:relative;
    top: 10px;
    left: 500px;
}



#results {
    padding: 20px;
    box-sizing: border-box;
}
.card-columns {
    column-count: 4;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/* responsive control */

@media only screen and (max-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 1;
    }
}



